.barra_navegacion {
    background-color: transparent;
    /*position: absolute;
    z-index: 1;*/
}

.div_figura {
    background-color: aqua;
}

footer {
    background-color: aqua;
}

.boton_enviar {
    background-color: aqua;
    color: #FFFFFF;
}

.card_destacados {
    background-color: aqua;
    color: #FFFFFF;
}

/*
.espaciado_cards {
    margin-left: 5px;
    margin-right: 5px;
}*/